<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="author" content="GolubevOG">
    <title>Рейсы Шереметьево</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="sty.css">
  </head>
  <body>
